<%- include('partials/head')%>

    <body class="login-signup-body">

        <%- include('partials/navbar') %>

            <div class="login-page">
                <div class="form">
                    
                    <form class="login-form" action="/users" method="get">
                        <input id="email" type="email" placeholder="Email" />
                        <input id="password" type="password" placeholder="Password"/>
                        <button>login</button>
                        <p class="message">Not registered? <a href="/signup">Create an account</a></p>
                    </form>
                </div>
            </div>
    </body>

    <%- include('partials/foot')%>