<%- include('partials/head')%>


    <body  class="login-signup-body">
        <%- include('partials/navbar') %>
		
        <div class="login-page">
            <div class="form">
                <form class="register-form" action="/users" method="post" >
                    <input id="username" name="username" type="text" placeholder="Name" />
                    <input id="email" name="email" type="email" placeholder="Email address" />
                    <input id="password" name="password" type="password" placeholder="Password" />
                    <button>create</button>
                    <p class="message">Already registered? <a href="/login">Sign In</a></p>
                </form>
                
            </div>
        </div>
	</body>

<%- include('partials/foot')%>